body {
  background-color: #212121;
  text-align: center;
}

h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #ffffff;
}

#pop-box {
  text-align: center;
  height: 50vh;
  overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#pop-box::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#pop-box {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#pop-box > div {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 30px;
  padding: 5px 20px 13px 20px;
  margin: 4px 4px;
  border-radius: 5px;
  color: #ffffff;
  display: inline-block;
  transition: 500ms;
}

.input-container {
  margin-top: 50px;
  text-align: center;
}

.input-container > input {
  width: 75%;
  height: 75px;
  font-size: 50px;
  text-align: center;
}
