@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Protest+Riot&display=swap");

body {
  background-color: #212121;
  text-align: center;
  font-family: "Protest Riot", sans-serif;
}

h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #ffffff;
}

#pop-box {
  text-align: center;
  min-height: 40vh;
  max-height: 80vh;
  margin: 20px;
  margin-top: auto;
  padding: 10px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#pop-box::-webkit-scrollbar {
  display: none;
}

#pop-box > div {
  font-size: 30px;
  padding: 5px 20px 10px 20px;
  margin: 4px 4px;
  border-radius: 5px;
  color: #ffffff;
  display: inline-block;
  vertical-align: middle;
  transition: 500ms;
}

.input-container {
  position: sticky;
  width: 100%;
  bottom: 10px;
  text-align: center;
}

.input-container > input {
  width: 75%;
  height: 75px;
  font-size: 50px;
  text-align: center;
  outline: none;
  border-radius: 10px;
}

/* larger screens */
@media (min-width: 800px) {
  #pop-box {
    max-height: 50vh;
  }

  .input-container {
    position: static;
    margin-top: 10px;
  }
}
