body {
  background-color: #212121;
  text-align: center;
}

h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #ffffff;
}

#pop-box {
  text-align: center;
  min-height: 30vh;
  max-height: 50vh;
  margin: 20px;
  padding: 10px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#pop-box::-webkit-scrollbar {
  display: none;
}

#pop-box > div {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 30px;
  padding: 5px 20px 13px 20px;
  margin: 4px 4px;
  border-radius: 5px;
  color: #ffffff;
  display: inline-block;
  vertical-align: middle;
  transition: 500ms;
}

.input-container {
  width: 100%;
  margin-top: 10px;
  text-align: center;
}

.input-container > input {
  width: 75%;
  height: 75px;
  font-size: 50px;
  text-align: center;
  outline: none;
  border-radius: 10px;
}
